.heading {
  text-transform: uppercase;
  font-size: 15px;
/*  font-family: "Roboto Condensed"; */
  font-weight: 400;
  border-bottom: 1px solid #666;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #999;
}
